canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html, .navbar{
background: #4682B4;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
margin-top: 10px;
margin-left: 30px;
  }

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-weight: 700;
  font-style: normal;
}

section {
  width: 600px;
}


p, li{
font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
font-size: 16px;
font-style: normal;
line-height: 1.45em;
}

p{
margin-bottom: 10px;
}

header {
  background: var(--dark-bg); /* svart bakgrunn på header*/
  grid-column:2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

.button {
  transform: translate(300px, 250px);
  margin:5px;
}

.lable {
  transform: translate(80px, 258px);
  background-color: white;
  border-radius: 10%;
  height: 25px;
  width: 70px;
  padding: 5px;
  text-align: center;
  position: relative;
  display: none;
}

.lablesmall {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: black;
  font-family: brandon-grotesque, sans-serif;
}



.circle{
  border:1px solid white;
  background-color: white;
  width:30px;
  height:30px;
  border-radius:100%;
  transform: translate(200px, 250px);
  margin:5px;
}
.circle.exit {
  transform: translate(200px, 250px) rotate(45deg);
  display: none;
}
.circle:hover {
  width:33px;
  height:33px;
  background: black;
  border-color: black;
}

.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:black;
}
.circle.plus:hover:before,
.circle.plus:hover:after,
.circle.exit:hover:before,
.circle.exit:hover:after {
  background: white;
  border-color: white;
}

.circle.plus:hover ~ .lable {
  display: block;
}

.circle.plus:before{
    width: 2px;
    margin: 2px auto;
    
}
.circle.plus:after{
    margin: auto 2px;
    height: 2px;
}

.circle.exit:before,
.circle.exit:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:black;
    
}
.circle.exit:before{
    width: 2px;
    margin: 2px auto;
}
.circle.exit:after{
    margin: auto 2px;
    height: 2px;
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 2;
  padding: 1rem;
}

.left {
  grid-column: 1 / 4;
}

.progress-bar-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label {
  color: white;
  font-size: 2rem;
}


@media screen and (max-width: 800px) {
  body {
  width: 100%
  }
}

