canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

:root {
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body, .navbar{
background: #4682B4;
color:white;
}

body {
    z-index: 2;
}

.navbar-brand {
margin-top: 30px;
margin-left: 30px;
}

.header{
  margin-top: 200px;
}

h1, h2{
  font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-weight: 700;
  line-height: 1.45em;
  font-style: normal;
}

p.a, p.b, li{
  font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 16px;
  line-height: 1.45em;
  font-style: normal;
}

p.a, li{
font-style: normal;
}

p.b {
  font-style: italic;
  text-decoration: underline;
}

p.b:hover {
  background-color: red;
}

p{
margin-bottom: 10px;
}

ul{
  list-style-type: square;
}


header {
  background: var(--dark-bg); /* svart bakgrunn på header*/
  grid-column:2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

.container {
  grid-column: 2 / 8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.lable {
  transform: translate(80px, 258px);
  background-color: white;
  border-radius: 10%;
  height: 25px;
  width: 70px;
  padding: 5px;
  text-align: center;
  position: relative;
  display: none;
}

.lablesmall {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: black;
  font-family: brandon-grotesque, sans-serif;
}

.progress-bar-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label {
  color: white;
  font-size: 2rem;
}

.footer {
  height: 40px;
  background-color: #1763a1;
  text-align: center;
}


.norkart-footer {
  color: white;
  margin-top: 10px;
  text-decoration: underline;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.circle{
    border:1px solid;
    background-color: white;
    width:20px;
    height:20px;
    border-radius:100%;
    position:relative;
    margin:4px;
    display:inline-block;
    vertical-align:middle;
    z-index: 99;
  }

  .circle.exit {
    rotate: 45deg;
    display: none;
  }

  .circle.plus:before,
  .circle.plus:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:green;
  }
  .circle.plus:before{
      width: 2px;
      margin: 2px auto;
  }
  .circle.plus:after{
      margin: auto 2px;
      height: 2px;
  }

  .circle.exit:before,
  .circle.exit:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:green;
  }
  .circle.exit:before{
      width: 2px;
      margin: 2px auto;
  }
  .circle.exit:after{
      margin: auto 2px;
      height: 2px;
  }
  
  /* and a bonus!!! minus :-) */
  .circle.minus:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:red;
      margin: auto 2px;
      height: 2px;
  }

  .annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
  }
    .annotation::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
  }
  #number {
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 800px) {
  body {
  width: 100%
  }
}